/*
 * webgtx @ 2022
 * forked from ultraplus
 */

* {
	border: none;
	border-radius: 0;
	font-family: JetBrains Mono NF;
	font-size: 14px;
	min-height: 24px;
}

window#waybar {
	background: rgba(0, 0, 0, .7);
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	  border-radius: 26px;
	  transition: none;
	/*
    color: #f8f8f2;
	background: #282a36;
    */
    color: transparent;
	  background: transparent;
}

#workspaces {
	border-radius: 0 26px 26px 0;
	background: #282a36;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: #9aedfe;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#mpd {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 8px;
	border-radius: 26px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
	background: #5af78e;
}

#mpd.disconnected,
#mpd.stopped {
	color: #f8f8f2;
	background: #282a36;
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #bd93f9;
}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #9aedfe;
}

#temperature {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #5af78e;
}

#cpu {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #f1fa8c;
}

#memory {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #ff6e67;
}

#clock, #backlight, #tray, #keyboard-state {
	padding-left: 16px;
	padding-right: 16px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#backlight {
  border-radius: 26px 0 0 26px;
}
